:host {
  .list {
    display: grid;
    grid-template-columns: calc(100% / 4 - 10px) calc(100% / 4 - 10px) calc(
        100% / 4 - 10px
      ) calc(100% / 4 - 10px);
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}
