<div class="wrapper">
  <app-products-header
    [pagination]="productsPagination$ | async"
    (proccessPaginatorPage)="proccessPaginatorPage($event)"
  ></app-products-header>
  <div *ngIf="productsLoaded$ | async" class="products">
    <app-products-filters
      [list]="productsList$ | async"
      [filters]="productsFilters$ | async"
      (onFilterClick)="onFilterClick($event)"
    ></app-products-filters>
    <app-products-list [list]="productsList$ | async"></app-products-list>
  </div>
</div>
